server:
  port: 8085

spring:
  application:
    name: tech-assessment-app
  datasource:
    url: jdbc:postgresql://localhost:5432/tech_assessment_db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: 1aS9kKXY5hYJCrDSvOb1jxQkF8HKKqjZYgILl/1PK4Q=